body {
    background-image: url(images/fishing%20dude.jpg);
    padding: 3.8em;
}

h1, h4 {
    color: white;
    font-family: 'Courgette';
}

.button, .button:focus {
    background-color: black;
    color: white;
}

.button:hover {
    background-color: white;
    color: black;
}

.reveal-modal {
    background-color: transparent;
    padding: 1.875rem;
    border: none;
    box-shadow: none;   
}

.quote {
    margin-top: 470px;
}

.quote h4 {
    background-color: rgba(0,0,0,0.8);
    padding: 0.3em;
    border-radius: 0.3em;
}