body {
    background-image: url(images/bagan.jpg);
    padding: 0.8em 0;
}

/* to override the default Foundation row class to allow 100% width */
.fullwidth {
    max-width: 100%;   
}

h1, h4 {
    color: white;
    font-family: 'Courgette';
    text-shadow: 0px 1px 5px black;
}

.greeting {
    margin-top: 65%;
}

.button, .button:focus {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.button:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
}

.reveal-modal {
    background-color: transparent;
    padding: 1.875rem;
    border: none;
    box-shadow: none;   
}

.quote {
    margin-top: 18em !important;
}